body {
  margin: 0;
  padding: 0;
  /*background-color: #f9f9f9;*/
  background-image: linear-gradient(to right, #96fbc4 0%, #f9f586 100%);
}

.topBar {
  position: fixed;
  top:0;
  width:100%;
  z-index:100;
  background-color: #45425A;
  height: 4px;
}
.menu-container {
  padding: 20px 0;
  display: flex;
  border: 1px solid red;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.content-container {
  display: flex;
  justify-content: center;
}

.content {
  width: 900px;
  border: 1px solid blue;
}

.content h1 {
  display: flex;
  justify-content: center;
}

.content ul {
  list-style-type: none;
}

.input-error {
  display: flex;
  justify-content: center;
  height: 1em;
  margin: 5px;
}

#taskIsEmpty {
  font-family: 'Roboto', sans-serif;
  /*Ovo, serif is loaded in the source as well*/
  color: #393E41;
  /*03a9f4 works as well*/
  display: flex;
  justify-content: center;
}

.todos-container {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: auto;
}

.todos {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  border: 1px solid pink;
  min-height: min-content;
}

.button {
  width: 150px;
  margin: 5px 0;
}

input {}

.footer {
  border: 1px solid green;
}
